.panda-Background{
    background-color: #fceae8;
}
.catagory-background-one{
    background-color: #ffa500;
}
.catagory-background-two{
    background-color: #da70d6;
}
.catagory-background-three{
    background-color: #0000ff;
}
.catagory img{
    width: 100px;
}